<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOX.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,3727},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Box_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,3083},{202,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,170}}</string>
                <key>sourceSize</key>
                <string>{202,170}</string>
            </dict>
            <key>Box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,2662},{188,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,166}}</string>
                <key>sourceSize</key>
                <string>{188,166}</string>
            </dict>
            <key>Box_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2920},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>Box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,2830},{188,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,164}}</string>
                <key>sourceSize</key>
                <string>{188,164}</string>
            </dict>
            <key>Box_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,3342},{197,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,166}}</string>
                <key>sourceSize</key>
                <string>{197,166}</string>
            </dict>
            <key>PageElimination.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2792},{412,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,256}}</string>
                <key>sourceSize</key>
                <string>{412,256}</string>
            </dict>
            <key>btnBackOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,3328},{137,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,130}}</string>
                <key>sourceSize</key>
                <string>{137,130}</string>
            </dict>
            <key>btnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2785},{431,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,132}}</string>
                <key>sourceSize</key>
                <string>{431,132}</string>
            </dict>
            <key>checkpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,754},{38,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,641}}</string>
                <key>sourceSize</key>
                <string>{38,641}</string>
            </dict>
            <key>closeDialogBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,3104},{174,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,3189},{137,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,130}}</string>
                <key>sourceSize</key>
                <string>{137,130}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,754},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,518},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,584},{168,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,84}}</string>
                <key>sourceSize</key>
                <string>{168,84}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2996},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3738},{286,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,146}}</string>
                <key>sourceSize</key>
                <string>{286,146}</string>
            </dict>
            <key>dialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dialogBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2342},{461,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,180}}</string>
                <key>sourceSize</key>
                <string>{461,180}</string>
            </dict>
            <key>editboxOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2658},{433,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,132}}</string>
                <key>sourceSize</key>
                <string>{433,132}</string>
            </dict>
            <key>editboxOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2524},{433,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,132}}</string>
                <key>sourceSize</key>
                <string>{433,132}</string>
            </dict>
            <key>fbConnectBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1284},{626,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,170}}</string>
                <key>sourceSize</key>
                <string>{626,170}</string>
            </dict>
            <key>fbDisConnectBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1284},{626,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,170}}</string>
                <key>sourceSize</key>
                <string>{626,170}</string>
            </dict>
            <key>fbIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,3656},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>fbImageLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,3887},{168,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,164}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>fbImgBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,3122},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fbShareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{626,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,170}}</string>
                <key>sourceSize</key>
                <string>{626,170}</string>
            </dict>
            <key>ghostAnim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2413},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2342},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2219},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1899},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1899},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1776},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1456},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostAnim9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1456},{500,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,441}}</string>
                <key>sourceSize</key>
                <string>{500,441}</string>
            </dict>
            <key>ghostPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2919},{296,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,331}}</string>
                <key>sourceSize</key>
                <string>{296,331}</string>
            </dict>
            <key>gotoMenuBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,3218},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>jetpack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,3510},{158,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,144}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>laska.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2919},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>likeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1397},{377,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,160}}</string>
                <key>sourceSize</key>
                <string>{377,160}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1280}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>minusBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,864},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>multiBtnOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,260},{256,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,100}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>multiBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{256,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,100}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>nic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,2},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>pageEndlessRun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,2662},{412,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,256}}</string>
                <key>sourceSize</key>
                <string>{412,256}</string>
            </dict>
            <key>pageGate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2856},{412,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,256}}</string>
                <key>sourceSize</key>
                <string>{412,256}</string>
            </dict>
            <key>pauseBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,3050},{137,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,130}}</string>
                <key>sourceSize</key>
                <string>{137,130}</string>
            </dict>
            <key>ped.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,3280},{226,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,198}}</string>
                <key>sourceSize</key>
                <string>{226,198}</string>
            </dict>
            <key>plusbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,796},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>positiveAction_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,3887},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,3887},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,3887},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,3687},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,3542},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,3467},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,3617},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,3487},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,3342},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,3417},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,3287},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,3217},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,3510},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,3521},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,3508},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>positiveAction_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,3304},{215,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,198}</string>
            </dict>
            <key>repeatBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,3050},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>resumeBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3114},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3510},{128,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,217}}</string>
                <key>sourceSize</key>
                <string>{128,217}</string>
            </dict>
            <key>slowDownPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,2920},{296,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,331}}</string>
                <key>sourceSize</key>
                <string>{296,331}</string>
            </dict>
            <key>speedPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1456},{296,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,331}}</string>
                <key>sourceSize</key>
                <string>{296,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Res1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3c0aeb168ef871f0e1d1eec5603d3e3$</string>
            <key>textureFileName</key>
            <string>Res1.png</string>
        </dict>
    </dict>
</plist>
