<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOX.png</key>
            <dict>
                <key>frame</key>
                <string>{{3475,109},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Box_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,780},{202,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,170}}</string>
                <key>sourceSize</key>
                <string>{202,170}</string>
            </dict>
            <key>Box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,1120},{188,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,166}}</string>
                <key>sourceSize</key>
                <string>{188,166}</string>
            </dict>
            <key>Box_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{3917,1897},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>Box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,1288},{188,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,164}}</string>
                <key>sourceSize</key>
                <string>{188,164}</string>
            </dict>
            <key>Box_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,952},{197,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,166}}</string>
                <key>sourceSize</key>
                <string>{197,166}</string>
            </dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4047,554},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3057,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3057,1536}}</string>
                <key>sourceSize</key>
                <string>{3057,1536}</string>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{3743,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>PageElimination.png</key>
            <dict>
                <key>frame</key>
                <string>{{3061,625},{412,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,256}}</string>
                <key>sourceSize</key>
                <string>{412,256}</string>
            </dict>
            <key>btnBackOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{3852,2081},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>btnBackOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,2079},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>btnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,599},{312,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,113}}</string>
                <key>sourceSize</key>
                <string>{312,113}</string>
            </dict>
            <key>btnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,484},{312,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,113}}</string>
                <key>sourceSize</key>
                <string>{312,113}</string>
            </dict>
            <key>chboxInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,1964},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>checkpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{3061,2},{74,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,680}}</string>
                <key>sourceSize</key>
                <string>{74,680}</string>
            </dict>
            <key>chkboxactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{3932,1046},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>chkboxclicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{3937,931},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>closeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4005,2213},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4005,2213},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>drzewka.png</key>
            <dict>
                <key>frame</key>
                <string>{{3475,304},{2048,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,256}}</string>
                <key>sourceSize</key>
                <string>{2048,256}</string>
            </dict>
            <key>ghostAnim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,1794},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>ghostAnim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3917,1713},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>ghostAnim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,1624},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>ghostAnim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3917,1529},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>ghostAnim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,1454},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>ghostAnim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3923,1345},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>ghostAnim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3923,1161},{182,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,168}}</string>
                <key>sourceSize</key>
                <string>{182,168}</string>
            </dict>
            <key>ghostPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3937,2213},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>gotoMenuBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{3869,2196},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>jetpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3937,780},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>minusBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4047,657},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>multiBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,714},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>pageEndlessRun.png</key>
            <dict>
                <key>frame</key>
                <string>{{3061,367},{412,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,256}}</string>
                <key>sourceSize</key>
                <string>{412,256}</string>
            </dict>
            <key>pageGate.png</key>
            <dict>
                <key>frame</key>
                <string>{{3061,109},{412,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,256}}</string>
                <key>sourceSize</key>
                <string>{412,256}</string>
            </dict>
            <key>pauseBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,2260},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>pauseBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3801,2196},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>plusbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4047,623},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>repeatBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3971,2147},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>resumeBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{3971,2081},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{3613,78},{128,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,224}}</string>
                <key>sourceSize</key>
                <string>{128,224}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{3061,78},{550,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,29}}</string>
                <key>sourceSize</key>
                <string>{550,29}</string>
            </dict>
            <key>sliderActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{4065,2},{550,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,29}}</string>
                <key>sourceSize</key>
                <string>{550,29}</string>
            </dict>
            <key>sliderDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{4047,596},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>slowDownPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3733,2194},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>speedPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3991,714},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>tlo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2354},{2560,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2560,1280}}</string>
                <key>sourceSize</key>
                <string>{2560,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Res1.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51464c350b7e904cc2c7da375b146be4$</string>
            <key>textureFileName</key>
            <string>Res1.png</string>
        </dict>
    </dict>
</plist>
