<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOX.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,785},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Box_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,340},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>Box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,776},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>Box_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,828},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>Box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,822},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Box_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,216},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>Flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{764,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,384}}</string>
                <key>sourceSize</key>
                <string>{764,384}</string>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,174},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>PageElimination.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,94},{103,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,64}}</string>
                <key>sourceSize</key>
                <string>{103,64}</string>
            </dict>
            <key>btnBackOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>btnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,49},{117,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,43}}</string>
                <key>sourceSize</key>
                <string>{117,43}</string>
            </dict>
            <key>chboxInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,920},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>checkpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{19,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,170}}</string>
                <key>sourceSize</key>
                <string>{19,170}</string>
            </dict>
            <key>closeDialogBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,876},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,832},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>dialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,29},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>dialogBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{115,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,45}}</string>
                <key>sourceSize</key>
                <string>{115,45}</string>
            </dict>
            <key>drzewka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{512,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,64}}</string>
                <key>sourceSize</key>
                <string>{512,64}</string>
            </dict>
            <key>ghostAnim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,872},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>ghostAnim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>ghostAnim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,828},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>ghostAnim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,828},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>ghostAnim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>ghostAnim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,822},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>ghostAnim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,822},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>ghostPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,785},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gotoMenuBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,710},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>jetpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,348},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,388},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>minusBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,68},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>multiBtnOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{64,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,25}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>multiBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{64,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,25}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>pageEndlessRun.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,160},{103,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,64}}</string>
                <key>sourceSize</key>
                <string>{103,64}</string>
            </dict>
            <key>pageGate.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,94},{103,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,64}}</string>
                <key>sourceSize</key>
                <string>{103,64}</string>
            </dict>
            <key>pauseBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,828},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>plusbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,68},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>positiveAction_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,822},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,785},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,776},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,776},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,776},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,776},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,776},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,776},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,766},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,710},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,160},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,321},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,265},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,331},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>positiveAction_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,35},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>repeatBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,265},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>resumeBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,256},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,256},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>slowDownPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,785},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>speedPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,314},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tlo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Res1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5aa81656b65379169016bddd4225b81$</string>
            <key>textureFileName</key>
            <string>Res1.png</string>
        </dict>
    </dict>
</plist>
