<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Single_Player</key>
	<string>Jeden Gracz</string>
	<key>Multi_Player</key>
	<string>Wielu Graczy</string>
	<key>Options</key>
	<string>Opcje</string>
	<key>Carrer</key>
	<string>Tryb Kariery</string>
	<key>BestRun</key>
	<string>Bicie rekordu</string>
	<key>FreeRun</key>
	<string>Własny tryb</string>
	<key>Play</key>
	<string>Graj</string>
	<key>Continue</key>
	<string>Kontynuuj</string>
	<key>Choose_Mode</key>
	<string>Wybierz Tryb</string>
	<key>Opponentow</key>
	<string>Przeciwników</string>
	<key>Opponents</key>
	<string>Przeciwnicy</string>
	<key>Opponent</key>
	<string>KOM</string>
	<key>Gates</key>
	<string>Bramki</string>
	<key>Gatesow</key>
	<string>Bramek</string>
	<key>lastGate</key>
	<string>Ostatnia Bramka!</string>
	<key>Difficulty</key>
	<string>Poziom Trudności</string>
	<key>Players</key>
	<string>Gracze</string>
	<key>Player</key>
	<string>Gracz</string>
	<key>Computers</key>
	<string>Komputery</string>
	<key>gmOver</key>
	<string>Koniec Gry</string>
	<key>Gate_Collector</key>
	<string>Zbieracz Bramek</string>
	<key>Elimination</key>
	<string>Eliminacja</string>
	<key>Endless</key>
	<string>Martwy Koniec</string>
	<key>Choose_Name</key>
	<string>Wybierz imię i postać</string>
	<key>Choose_Names</key>
	<string>Wybierzcie imiona i postacie</string>
	<key>Easy</key>
	<string>Łatwy</string>
	<key>Medium</key>
	<string>Średni</string>
	<key>Hard</key>
	<string>Trudny</string>
	<key>autoCorrect</key>
	<string>Auto-popraw</string>
	<key>AutoCorrectDialogText</key>
	<string>Kilku graczy dokonało tego samego wyboru.Popraw ręcznie albo zastosuj autokorektę.</string>
	<key>Tutorial_Single/Multiplayer</key>
	<string>Wybierz grę dla pojedynczego gracza albo dla dwóch graczy</string>
	<key>completePrev</key>
	<string>Ukończ poprzednie poziomy aby odblokować</string>
	<key>Level</key>
	<string>Poziom</string>
	<key>Completed</key>
	<string>zaliczony</string>
	<key>Failed</key>
	<string>nie zaliczony</string>
	<key>GatesCollected</key>
	<string>zebranych bramek</string>
	<key>Eliminated</key>
	<string>   ZOSTAŁEŚ WYELIMINOWANY!   </string>
	<key>YOUWON</key>
	<string>WYGRAŁEŚ!</string>
	<key>ObjElim</key>
	<string>Cel: Nie daj się wyeeliminować</string>
	<key>ObjGate</key>
	<string>Cel: Zdobądź największą ilość bramek</string>
	<key>ObjEndless</key>
	<string>Cel: Przejdź wszystkie punkty kontrolne\nnie będąc ani razu ostani na bramce</string>
	<key>smart</key>
	<string>Mądrzy</string>
	<key>stupid</key>
	<string>Głupi</string>
	<key>medium</key>
	<string>Zwykli</string>
	<key>gatesLeft</key>
	<string>Pozostało %d Bramek</string>
	<key>gatesLeft2</key>
	<string>Pozostały %d Bramki</string>
	<key>score</key>
	<string>Punkty : %d</string>
	<key>newRecord</key>
	<string>Nowy Rekord!</string>
	<key>bestScore</key>
	<string>Najlepszy Wynik</string>
	<key>tapToStart</key>
	<string>Dotknij gdziekolwiek aby rozpocząć</string>
	<key>Tutorials</key>
	<string>Samouczki</string>
	<key>On</key>
	<string>Wł</string>
	<key>Off</key>
	<string>Wył</string>
	<key>Credits</key>
	<string>Autorzy</string>
	<key>gandA</key>
	<string>Grafika i Audio</string>
	<key>everything</key>
	<string>Wszystko pozostałe</string>
	<key>cnctToPlayer</key>
	<string>Połącz z facebookiem aby zagrać swoim zdjęciem profilowym!</string>
	<key>bstScores</key>
	<string>Najlepsze wyniki</string>
	<key>Mode</key>
	<string>Tryb</string>
	<key>wlcmTutText</key>
	<string>Witaj w Bump Race</string>
	<key>generalRulesTut</key>
	<string>Pierwszy gracz porusza się najwolniej (opór powietrza) a ostatni najszybciej.Dotknij ekranu aby podskoczyć.</string>
	<key>wantToKnowTut</key>
	<string>Zastanawiasz się jak w to grać?</string>
	<key>pwrUpCollectedTutIntro</key>
	<string>Właśnie zebrałes ulepszenie! Istnieją 3 typy ulepszeń</string>
	<key>rocketTut</key>
	<string>Strzel rakietą w przeciwnika z tyłu aby go spowolnić</string>
	<key>ghostTut</key>
	<string>Załóż niewidzialną pelerynę i przenikaj przez przeciwników</string>
	<key>thrustTut</key>
	<string>Włącz dopalacz aby przyspieszyć</string>
	<key>howToActivatePwrupTut</key>
	<string>Aby aktywować naciśnij przyck na dole ekranu</string>
	<key>gateCollectorTut</key>
	<string>To jest tryb &quot;Kolektor Bramek&quot;. Zbierz najwięcej bramek aby wygrać</string>
	<key>enlessModeTut</key>
	<string>To jest tryb &quot;Martwy koniec&quot;. Będąc ostatni na dowolnej bramce przegrywasz!</string>
	<key>elimModeTut</key>
	<string>To jest tryb &quot;Eliminacja&quot;. Na każdej bramce odpada ostatni gracz, a gra toczy się dalej.</string>
	<key>bestScoreModeTut</key>
	<string>Zdobądź jak najwięcej bramek nie będąc ani razu ostanim na bramce</string>
	<key>multiTut1</key>
	<string>Naciskaj na przycisk w kolorze twojej postaci aby podskoczyć</string>
	<key>multiTut2</key>
	<string>Możesz również naciskać na obszar nad przyciskiem</string>
	<key>cmpltTutsFirst</key>
	<string>Najpierw zagraj w trybie kariery lub wyłącz samuczek w opcjach</string>
	<key>carrerCmpltdDialog1</key>
	<string>Ukończyłes wszystkie poziomy w trybie kariery!</string>
	<key>carrerCmpltdDialog1a</key>
	<string>Gratulacje!</string>
	<key>carrerCmpltdMultiDialog</key>
	<string>Zagraj ze swoimi znajomymi w trybie dla wielu graczy!</string>
	<key>carrCmpltdPlentyThings</key>
	<string>Możesz jednak grać dalej!</string>
	<key>carrercmpltdTryCustom</key>
	<string>Wypróbuj &quot;Własny tryb&quot; i ustal zasady gry</string>
	<key>carrerCmpltdTryHighscore</key>
	<string>Zmierz się z innymi graczami oraz samym sobą i pobij rekord w trybie &quot;Bicie rekordu&quot;</string>
	<key>carrerCmpltdOtherGames</key>
	<string>Wypróbuj również inne gry!</string>
	<key>carrerCmpltdPlayOtherNow</key>
	<string>Zagraj teraz!</string>
	<key>tiredOfAds</key>
	<string>Masz dość reklam? Usuń je teraz!</string>
	<key>rmv</key>
	<string>Usuń</string>
	<key>workedHard</key>
	<string>Ciężko pracowaliśmy nad tą grą. Jeżeli ci się podoba, oceń ją albo polub stronę na facebooku</string>
	<key>rate</key>
	<string>Oceń</string>
	<key>rmvAds</key>
	<string>Usuń reklamy</string>
	<key>jstScored</key>
	<string>Właśnie zdobyłem %d punktów w &quot;Bump Race&quot;</string>
	<key>unlockLevel</key>
	<string>Ukończ poprzedni poziom albo odblokuj za 0.99$</string>
	<key>unlock</key>
	<string>Odblokuj</string>
	<key>more_games</key>
	<string>Więcej Gier</string>
	<key>more_games</key>
	<string>More Games</string>
	<key>toohard</key>
	<string>Za trudne? Zrób sobię przerwę i spróbuj innych gier.</string>
	<key>noThanks</key>
	<string>Nie</string>
	<key>tryOther</key>
	<string>Wypróbuj</string>
</dict>
</plist>
