<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOX.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1544},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Box_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1666},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,85}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>Box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1870},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Box_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1835},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1874},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>Box_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1769},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>Flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1529,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1529,768}}</string>
                <key>sourceSize</key>
                <string>{1529,768}</string>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,564},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PageElimination.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1767},{206,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,128}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>btnBackOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,1924},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>btnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,225},{234,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,85}}</string>
                <key>sourceSize</key>
                <string>{234,85}</string>
            </dict>
            <key>chboxInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1796},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>checkpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,2},{19,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,321}}</string>
                <key>sourceSize</key>
                <string>{19,321}</string>
            </dict>
            <key>closeDialogBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1844},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1921},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>dialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,225},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>dialogBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1544},{231,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,90}}</string>
                <key>sourceSize</key>
                <string>{231,90}</string>
            </dict>
            <key>drzewka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{1024,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,128}}</string>
                <key>sourceSize</key>
                <string>{1024,128}</string>
            </dict>
            <key>ghostAnim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1544},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1544},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1414},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,548},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,312},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostAnim9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,325},{250,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,221}}</string>
                <key>sourceSize</key>
                <string>{250,221}</string>
            </dict>
            <key>ghostPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1767},{148,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{148,166}</string>
            </dict>
            <key>gotoMenuBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1796},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>jetpack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1924},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,772},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>minusBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,254},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>multiBtnOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1610},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>multiBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,254},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>pageEndlessRun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1666},{206,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,128}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>pageGate.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1666},{206,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,128}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>pauseBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1835},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>plusbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,254},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>positiveAction_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1835},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1835},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1943},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1874},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1835},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1734},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1734},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,1734},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1734},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1734},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1734},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1917},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1917},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1917},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1924},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>positiveAction_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1914},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>repeatBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1777},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>resumeBtnOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1767},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1544},{64,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,109}}</string>
                <key>sourceSize</key>
                <string>{64,109}</string>
            </dict>
            <key>slowDownPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1897},{148,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{148,166}</string>
            </dict>
            <key>speedPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1767},{148,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{148,166}</string>
            </dict>
            <key>tlo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1280,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,640}}</string>
                <key>sourceSize</key>
                <string>{1280,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Res1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7e43ce3679ab91d6b5856bcd9de98a$</string>
            <key>textureFileName</key>
            <string>Res1.png</string>
        </dict>
    </dict>
</plist>
